<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"> YelpCamp </p>
      <div class="list-group">
        <li class="list-group-item active"> Categeory-1 </li>
        <li class="list-group-item"> Categeory-2 </li>
        <li class="list-group-item"> Categeory-3 </li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" id="campground_card">
        <img class="card-img-top" src="<%= campground.image %>">
        <div class="card-body">
          <div class="figure-caption-full">
            <h4 class="float-right">$9.00/night</h4>
            <h4 class="card-title"> <a href=""> <%= campground.name %> </a> </h4>
            <p class="card-text"> <%= campground.description %> </p>
          </div>
        </div>
      </div>
      <br>
      <div class="card bg-light" id="comment_card">
        <div class="card-body">
          <div class="float-right">
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/comments/new" role="button">ADD COMMENT</a>
          </div>
          <h3 class="card-title">COMMENTS</h3>
          <hr>
          <strong> <% campground.comments.forEach(function(comment){ %> </strong> 
            <div class="row">
              <div class="col-md-12">
                <span style="font-style: italic;"> <%= comment.author %> </span>
                <p> <%= comment.text %> </p>
              </div>
            </div>
          <% }) %>
        </div>
      </div>            
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
